<section class="movie-diary">
    <header class="movie-diary__header">
        <p>Diario de cine</p>
        <h1>Mis visionados</h1>
    </header>

    @if(diaryGroups().length > 0){
        <div class="movie-diary__groups">
            @for (group of diaryGroups(); track group.monthKey) {
                <section class="movie-diary__group">
                    <h2>{{group.label}}</h2>

                    <div class="movie-diary__list">
                        @for (movie of group.movies; track movie.id) {
                            <article class="movie-diary__entry">
                                <time [attr.datetime]="movie.watchedDate">
                                    {{ formatWatchedDate(movie.watchedDate) }}
                                </time>

                                <div class="movie-diary__content">
                                    <h3>
                                        <a [routerLink]="['/movies', movie.id]">
                                            {{movie.title}}
                                        </a>
                                    </h3>

                                    <p>{{movie.year}} -  {{movie.director}}</p>

                                    @if (movie.userRating){
                                        <strong>{{ movie.userRating }}/5</strong>
                                    } @else {
                                        <span>Sin puntuación</span>
                                    }

                                    @if (movie.review) {
                                        <blockquote>
                                            {{movie.review}}
                                        </blockquote>
                                    }
                                </div>
                            </article>
                        }
                    </div>
                </section>
            }
        </div>
    } @else {
        <p class="movie-diary__empty">
            Todavía no se ha registrado ningún visionado.
        </p>
    }
</section>