<article class="movie-card">
    <img
        class="movie-card__poster"
        [src] = "movie().posterUrl"
        [alt] = "movie().title"
    />

    <div class="movie-card__content">
        <div>
            <h2>
                <a [routerLink]="['/movies', movie().id]">
                    {{ movie().title }}
                </a>
            </h2>
            <p class="movie-card__meta">
                {{ movie().year }} · {{ movie().director }}
            </p>
        </div>

        <app-movie-badges
            [watched]="movie().watched"
            [pending]="movie().pending"
            [favorite]="movie().favorite"
            [userRating]="movie().userRating"
        />

        <app-movie-status-actions
            [watched]="movie().watched"
            [pending]="movie().pending"
            [favorite]="movie().favorite"
            (watchedToggled)="watchedToggled.emit()"
            (pendingToggled)="pendingToggled.emit()"
            (favoriteToggled)="favoriteToggled.emit()"
        />

        <p class="movie-card__synopsis">{{ movie().synopsis }}</p>

        <div class="movie-card__footer">
            <span class="movie-card__rating">
                {{ movie().averageRating }}/5
            </span>

            <span class="movie-card__votes">
                {{ movie().ratingCount }} votos
            </span>
        </div>
        <ul class="movie-card__genres">
            @for (genre of movie().genres; track genre){
                <li>{{ genre }}</li>
            }
        </ul>

        <div class="movie-card__user-rating">
            <p>Tu puntuación</p>

            <app-rating-selector
                [value]="movie().userRating"
                (valueSelected)="ratingSelected.emit($event)"
            />
            <div>
                @if (movie().userRating){
                    <p class="movie-card__user-choice">
                        Has puntuado esta película con {{ movie().userRating }}/5
                    </p>
                }
            </div>
        </div>
    </div>
</article>